<div class="container">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td align="center"><a class="btn btn-primary" href="incluirentrega" role="button"><i
                class="fas fa-folder-open"></i>Incluir Entrega</a></td>
          <td align="center"><a class="btn btn-primary" href="listarentregas" role="button"><i
                class="fas fa-address-book"></i>Listar Entregas</a> </td>
          <td>&nbsp;</td>
        </tr> 
      </tbody>
    </table>
  </div>